
html{overflow-X: hidden; }
body{
overflow-X: hidden;
  margin: 0;
  padding: 0;
width: 100%;
}

p{
  font-size: 18px;
}
#header{
background-image:url("Images/2.jpg");

height: 900px;
width: 100%;


}



.nav-item{

  padding-right: 10%;
  font-size: 1.2rem;

}
.bigname{
  color:white;
  text-align: left;
}
.Alneser{
  color: #6e1f25;
}

.web{
  display: block;
  color: white;
}
.Developer{

color: black;

  background-color: #6e1f25;


}
.value{
font-size: 3rem;
margin-top: 15%;
text-align: center;
}
.ibuild{
  color: #404040;
}
.throgh{
  color: white;
}
.design{
  color: #6e1f25;

}
.butn{
  margin-top: 10%;
  background-color: #404040;
  width: 150px;
  height: 60px;
  border-radius: 10pt;
  color: white;
text-align: center;
margin-right: 100px;
}
.col-lg-3{
  height: 350px!important;
}
.col-lg-3:hover {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.bottomMenu {

    z-index: 1;
    transition: all 1s;
}
.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}
#secondsec{
  width: 100%;
  height: 100%;
  background-color: #e9ecef;

}
#secondsec .container-fluid{
  background-color: ;

  width: -%;

}

#secondsec .container{
  background-color: #ced4da;
  text-align:center;
  height: 40%;

  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 50%;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);

opacity: 70%;
}
#label{

  font-size: 2.5rem;
  border-bottom: 3px solid black;
  width: 25%;
  padding-bottom: 1%;
  text-align: center;
  margin:0 auto;
}

.star3{
  height: auto;
  width: 100px;
}

#cart{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
#center{
  text-align: center;
}

#ecom{
  width: 25%;
  height: 25%;
  margin-top: 20%;
  opacity:100%;
}
#ecom1{
  width: 25%;
  height: 25%;
  margin-top: 20%;
  opacity:100%;
}
#ecomt{
  margin-top: 10%;
  margin-bottom: 20%;
}
#ecomt2{
  margin-top: 5%;
  margin-bottom: 20%;
}
#webdev{
  margin-top: 10%;
  height: 200px;
  margin-bottom: 0;
}
#thirdsec{

  height: 500px;
  background: #262626;
  color: white;
  text-align: center;
}

#comp{
  height: 500px;
  margin-top: -20%;

}
#img1{
  width: 300px;
}

/*skills and contact*/
.html{
  height: 100px;
  width: auto;
}
.tableau{
  height: 250px;
  width: auto;
}
.powerbi{
  height: 75px;
  width: auto;
}
.commerce{
  height: 150px;
  width: auto;
}
#sliderrow{
  margin-top: 3%;
}
.carousel-control-prev-icon{
  background-color: black;
  height: 35px;
  width: 35px;
}
.carousel-control-next-icon{
  background-color: black;
  height: 35px;
  width: 35px;
}
.carousel-item p{
  margin-bottom: 5%;

}
#skilldiv1{
  background-color: f3efe0;
}
#skilldiv{
  background-color: f3efe0;
}
#skilldiv h4{
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 15%;
}
#skilldiv h2{
  margin-top: 3%;
  margin-bottom: 3%;
}
.col-2{
  margin-top: 3%;
  margin-bottom: 3%;
}

#fourthdiv h1{
  margin-top: 5%;
  margin-bottom: 7%;
}
#secondcontactcol{
  background-color: black;

}
.stars{
  width: 150px;
  height: auto;
}
/* The footer */
.site-footer
{
  overflow:hidden;
  margin-top: 10%;
  background-color:black;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#EDE8DA;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#EDE8DA;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.info{
  padding-top: 12%;
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


@media (max-width:900px) {
body #header{
  height: 800px;
  width:100%;
  background: #000000;
  background-image: url("");
  overflow-X: hidden;

}
.value{  margin-left: 50px;;}

#cart{  height: 200px;  width: 50%; }


#forthsec{
  text-align: center;
}
#secondsec{
  text-align: center;
}
#secondsec .container{
  width: 400px;;
}
.Developer{
  width: 110%;
  margin-left: 2%;
  font-weight: bold;
}
.html{
  height: 50px;
}
.stars{
  width: 75px;
}
.star3{
  width: 50px;
}
#label{
  width: 50%;

}

#comp{
  width: 300px;
  height: auto;
  margin-top: 3%;
}
#btn{
  text-align: center;

}
.butn{
  padding: 0;
  margin-right: 0;
  margin-left: 50px;
}
.row>*{
  margin: 0;
  padding: 0;
}
#salahalneser{
  text-align: center;
}
}
